{% extends '__base__.html' %}

{% block title %}Yahoo-Auctions{% endblock %}

{% block beforehead %}

<script>
function initVM(data) {
    var vm = new Vue({
        el: '#vm',
        data: {
            auctions: data.auctions,
            page: data.page
        },
        methods: {
            edit_auction: function (auction) {
                location.assign('/manage/auctions/edit?id=' + auction.id);
            },
            delete_auction: function (auction) {
                if (confirm('确认要删除“' + auction.title + '”？删除后不可恢复！')) {
                    postJSON('/api/auctions/' + auction.id + '/delete', function (err, r) {
                        if (err) {
                            return alert(err.message || err.error || err);
                        }
                        refresh();
                    });
                }
            }
        }
    });
    $('#vm').show();
}
$(function() {
    getJSON('/api/auctions', {
        page: {{ page_index }}
    }, function (err, results) {
        if (err) {
            return fatal(err);
        }
        $('#loading').hide();
        initVM(results);
    });
});
</script>

{% endblock %}

{% block content %}

    <div class="uk-width-1-1 uk-margin-bottom">
        <div class="uk-panel uk-panel-box">
            <ul class="uk-breadcrumb">
                <li><a href="/manage/auctions">Yahoo-Aucitons</a></li>
                <li><a href="/manage/comments">评论</a></li>
                <li class="uk-active"><span>日志</span></li>
                <li><a href="/manage/users">用户</a></li>
            </ul>
        </div>
    </div>

    <div id="error" class="uk-width-1-1">
    </div>

    <div id="loading" class="uk-width-1-1 uk-text-center">
        <span><i class="uk-icon-spinner uk-icon-medium uk-icon-spin"></i> 正在加载...</span>
    </div>

    <div id="vm" class="uk-width-1-1">
        <a href="/manage/auctions/create" class="uk-button uk-button-primary"><i class="uk-icon-plus"></i> 新auction</a>

        <table class="uk-table uk-table-hover">
            <thead>
                <tr>
                    <th class="uk-width-1-10">ID</th>
                     <th class="uk-width-1-10">auction no</th>
                    <th class="uk-width-4-10">标题</th>
                    <th class="uk-width-2-10">图片</th>
                    <th class="uk-width-1-10">当前价格</th>
                    <th class="uk-width-1-10">操作</th>
                </tr>
            </thead>
            <tbody>
                <tr v-repeat="auction: auctions" >
                    <td>
                        <a target="_blank" v-attr="href: '/auction/'+auction.id" v-text="auction.id"></a>
                    </td>
                    <td>
                        <span v-text="auction.auction_no"></span>
                    </td>
                    <td>
                        <a target="_blank" v-attr="href: '/auction/'+auction.title" v-text="auction.title"></a>
                    </td>
                    <td>
                        <a target="_blank" v-attr="href: auction.img_url" >
                        <img  v-attr="src: auction.img_url"  width="50px" height="70px" >
                        </a>
                    </td>
                    <td>
                        <span v-text="auction.paimai_price"></span>
                    </td>
                    <td>
                        <a href="#0" v-on="click: edit_auction(auction)"><i class="uk-icon-edit"></i>
                        <a href="#0" v-on="click: delete_auction(auction)"><i class="uk-icon-trash-o"></i>
                    </td>
                </tr>
            </tbody>
        </table>

        <div v-component="pagination" v-with="page"></div>
    </div>

{% endblock %}